body {
    background-color: lightblue;
    font-family: sans-serif ;
    color: dimgray;
    text-align: center;
    
}
header {
    text-align: left;
    color: darkgreen;
}
.pic {
    outline: auto;
    outline-style: dotted;
}
.list {
    text-align: left;
    color: darkolivegreen;
    outline: auto;
    outline-style: groove;
}